* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header, footer {
    justify-items: center;
    background-color: white;
    color: dimgray;
    padding: 10px;
    margin: 10px;
}

header img {
    float: left;
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
}

header h1 {
    float: right;
    font-weight: lighter;
    font-size: 16px;
    padding: 7px;
}

nav {
    width: 100%;
    background: white;
    color: saddlebrown;
    padding: 5px;
    overflow: hidden;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 150px;
    text-align: center;
}

nav ul li {
    display: inline;
    padding: 0 1em;
}

nav ul li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 1em 0;
}

nav ul li a:hover {
    color: rgb(117, 51, 3);
}

nav ul a button.a {
    float: right;
    margin: 10px;
    padding: 10px;
    background: rgb(107, 48, 14);
    color: white;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

nav ul a button.a:hover {
    opacity: 0.8;
}

nav ul a button.b {
    float: right;
    margin: 10px;
    padding: 10px;
    background: none;
    color: rgb(107, 48, 14);
    text-align: center;
    border: none;
    cursor: pointer;
}

nav ul a button.b:hover {
    opacity: 0.8;
}

nav input[type="submit"] {
    float: right;
    width: auto;
    background: #444;
    color: white;
    border: none;
    padding: 0.7em 1.5em;
    cursor: pointer;
}

aside {
    float: left;
    width: 20%;
    background: rgb(117, 58, 16);
    padding: 1em;
}

aside h2 {
    text-align: center;
    font-weight: lighter;
    background-color: white;
    color: sienna;
    padding: 5px;
    border-radius: 20px;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin: 0.5em 0;
}

aside ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.5em;
    border-radius: 5px;
}

aside ul li a:hover {
    background: rgb(100, 50, 14);
    color: white;
}

main {
    float: left;
    width: 60%;
    background: #ffffff;
    color: black;
    padding: 10px;
}

footer {
    clear: both;
    padding: 1em 0;
    background-color: sienna;
    color: white;
    text-align: center;
}

form label {
    display: block;
    margin-top: 1em;
}

form input, form select, form textarea {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
}

form input[type="submit"] {
    width: auto;
    background: sienna;
    color: #fff;
    border: none;
    padding: 0.7em 1.5em;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: rgb(137, 65, 32);
}